<h1> @ViewBag.book.Title</h1>

<form method="post" action="/Books/Edit">
    <div>
        <lable for="title">Title</lable>
        <input name="title" type="text" value="@ViewBag.book.Title" />

    </div>

    <div>
        <lable for="author">Author</lable>
        <input name="author" type="text" value="@ViewBag.book.Author" />
    </div>

    <div>
        <lable for="totalPage">Total Number of Pages</lable>
        <input name="totalPage" type="text" value="@ViewBag.book.TotalPage" />
    </div>

    <div>
        <lable for="currentPage">Current Page</lable>
        <input name="currentPage" type="text" value="@ViewBag.book.CurrentPage" />
    </div>

    @*<div>
            <lable for="readingDate">Date started reading</lable>
            <input name="author" type="text" value="@ViewBag.book.ReadingDate"/>
        </div>*@

    <div>
        <lable for="readingNotes">Reading Notes</lable>
        <input name="readingNotes" type="text" value="@ViewBag.book.ReadingNotes" />
    </div>

    <input type="hidden" name="bookId" value="@ViewBag.book.Id" />
    <input type="submit" value="Edit Book Info" />
</form>